body {
  text-align: center;
  padding:20px;
  background-color: #131717;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #dbdbdb;
}

button {
  background-color: transparent;
  border: solid 1px #52CAFF;
  border-radius: 3px;
  color: #52CAFF;
  font-size: 14px;
  padding:10px;
  width:95px;
  padding:10px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

input {
  width:100%;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: #0e1515;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  box-sizing: border-box; 
  color: #dbdbdb;
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.color-wide {
  background-color: #52CAFF;
  color:#0e1515;
  width:100%;
  margin:0px;
  font-weight: inherit;
  font-size:18px;
  font-weight:bold;
  margin-bottom: 14px;
}

button.color-wide:hover {
  background-color: #50fdfd;
  border-color: #50fdfd;
}

h1 {
  font-weight: lighter;
  margin-top: 40px;
  margin-bottom: 40px;
  color:#52CAFF;
}

h2 {
  font-weight: lighter;
  margin-bottom: 5px;
  margin-top: 10px;
}

p {
  font-size:16px;
  margin-top:20px;
  max-width:770px;
  margin-left:auto;
  margin-right:auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
  position:relative;
  gap:20px;
  margin-bottom: 80px;
  margin-top: 60px;
}

.flex-child-2col {
  width:35%;
  min-width: 250px;
  border: solid 1px #52CAFF;
  border-radius: 5px;
  padding:40px;
  text-align:left;
  background-color: #0e1515;
}

.App {
  min-height:100vh;
  max-width:1200px;
  margin-left:auto;
  margin-right:auto;
}

.App-header {
  text-align:left;
}

.App-header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.App-header-logo__sub-text {
  color: #52CAFF;
  font-size: 22px;
}

.App-header-button {
  display: block;
  float: right;
}

.App-header-button, .App-header-Address {
  display: block;
  float: right;
  width: 181px;
  max-width:30%;
  text-overflow:ellipsis;
  overflow: hidden;
}

#modal {
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
}

#modal-window {
  max-width:90%;
  width:450px;
  margin-left: auto;
  margin-right:auto;
  margin-top:20vh;
  background-color: #0e1515;
  padding:40px;
  border: solid 1px #52CAFF;
  border-radius: 5px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

footer {
  margin-top:120px;
  margin-bottom:40px;
  width:100%;
}

footer img {
  height: auto;
  margin-left:5px;
  margin-right:10px;
  width:35px;
}